/*===========================================*/
/*==========  Mobile First Method  ==========*/
/*===========================================*/

/* ---------- STRUCTURE ---------- */
header{
  position: relative;
}
nav{
  @extend%borderbox;
  label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  #menu-toggle{
    display: none;
  }
  #menu{
    display: none;
  }
  #menu-toggle:checked + #menu{
    @extend%flexbox;
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    li{
      width: auto;
      margin:0;
      padding:0;
      flex: 1;
      justify-content: space-around;
      img{
        display: none;
        z-index: 1;
      }
      a{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

section.subheader{
  @extend%borderbox;
  @extend%flexbox;
  z-index: 2;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: bottom;
  height: 8rem;
  margin-bottom: 1rem;
  div{
    z-index: 2;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h4{
      display: inline-flex;
      margin: 0;
    }
    img{
      display: inline-flex;
      resize: both;
      width: 60%;
      z-index: 1;
      &#logo{
        z-index: 1;
        width: 60%;
      }
      &#status{
        @include border-radius(0.5rem);
      }
    }
    #{$a-links}{
      @extend %login-btn;
    }
  }
}

div#thanks{
  width: 60vw;
  height: 2.5rem;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  left: 20vw;
  background-color: $greenisher;
  @include border-radius-four(0, 0, 2rem, 2rem);
  -webkit-animation-duration: 4s;
  -webkit-animation-name: dropdown-mobile;
  p{
    padding-top: 0;
    font-size: 4vw;
    color: $ivory;
    text-align: center;
    margin: 0 auto;
  }
}


/* ---------- STYLING ---------- */

nav{
  background-color: $charcoal;
  color: $dirty-white;
  #{$a-links}{
    text-decoration: none;
    color: $dirty-white;
  }
  li{
    list-style-type: none;
    a.active{
      color: $charcoal;
      background-color: $dirty-white-op8;
    }
    &:hover{
      a{
        background-color: $dirty-white-op2;
      }
    }
  }
}

section.subheader{
  border-bottom: 1rem solid $charcoal;
  background-color: $greenisher;
  div{
    background-color: $greenisher;
    #{$a-links}{
      font-size: 1.2rem;
      background-color: $charcoal;
      color: $dirty-white;
    }
  }
}


/*==============================================*/
/*==========  Small devices, tablets  ==========*/
/*==============================================*/


@media only screen and (min-width : 768px) {

  /* ---------- STRUCTURE ---------- */

  nav{
    height: 5rem;
    label#navlabel{ display: none; }
    #menu-toggle{
      display: none;
    }
    #menu{
      display: none;
    }
    ul#menu{
      margin:0;
      padding:0;
      display: flex;
      flex-direction:row;
      li{
        margin:0;
        padding:0;
        flex: 1;
        justify-content: space-around;
        a{
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &.active{
            margin: 0.5rem;
          }
        }
        img{
          z-index: 3;
          padding: 0.5rem;
          margin: 0 auto;
          display: block;
          align-self: center;
          position: relative;
        }
      }
    }
  }

  section.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: bottom;
    height: 12rem;
    div{
      display: flex;
      align-items: center;
      justify-content: space-around;
      h4{
        display: inline-flex;
        margin: 0;
      }
      img{
        padding: 1rem;
        display: inline-flex;
        min-width: 15rem;
        width: 20%;
        &#logo{
          display: none;
        }
      }
    }
  }
  div#thanks{
    z-index: 1;
    width: 60vw;
    height: 5rem;
    bottom: 1rem;
    -webkit-animation-duration: 4s;
    -webkit-animation-name: dropdown;
    p{
      padding-top: 0.5rem;
      font-size: 1.5vw;
      text-align: center;
      margin: 0 auto;
    }
  }




  /* ---------- STYLING ---------- */

  nav{
    border-bottom: none;
    background-color: $greenish;
    color: $charcoal;
    #{$a-links}{
      text-decoration: none;
      color: $charcoal;
    }
    li{
      list-style-type: none;
      a.active{
        @include border-radius-four(1rem, 1rem, 0, 0);
        color: $dirty-white;
        background-color: $charcoal;
      }
    }
  }

  section.subheader{
    color: $greenish;
    background-color: $charcoal;
    border-bottom: 1rem solid $greenish;
    div{
      height: 90%;
      background-color: $charcoal;
      #{$a-links}{
        font-size: 2rem;
        background-color: $greenisher;
        color: $dirty-white;
      }
    }
  }
  div#thanks{
    background-color: $dark;
    p{
      color: $greenish;
    }
  }
}

/*===========================================*/
/*============Medium ============*/
/*===========================================*/

@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


