/* ========== FONT ========== */
/* NOTE
html is set to 62.5% so that all the REM measurements
are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%; }
body {
  @extend %prim-font;
  font-size: 2em;
  line-height: 1.6; }

p {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  @extend %sec-font;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
h3 { font-size: 2.2rem; line-height: 1.3;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
h6 { font-size: 1rem; line-height: 1.6;  letter-spacing: 0; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
p { font-size: 1.1rem;}


@media (min-width: 320px) {
  h1 { font-size: 3.4rem; line-height: 1.2;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h2 { font-size: 3rem; line-height: 1.25; letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h3 { font-size: 2.6rem; line-height: 1.3;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h4 { font-size: 2.2rem; line-height: 1.35; letter-spacing: -.08rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  p { font-size: 1.2rem; }
}


@media (min-width: 550px) {
  h1 { font-size: 4.2rem; line-height: 1.2;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h2 { font-size: 3.8rem; line-height: 1.25; letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h3 { font-size: 3.4rem; line-height: 1.3;  letter-spacing: -.1rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h5 { font-size: 2.6rem; line-height: 1.5;  letter-spacing: -.05rem; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  h6 { font-size: 2.2rem; line-height: 1.6;  letter-spacing: 0; color: $charcoal; text-shadow: 1px 1px 3px $ivory; }
  p { font-size: 1.3rem; }
}


/* Larger than phablet */
@media (min-width: 780px) {
  h1 { font-size: 4.6rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h2 { font-size: 4.2rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h3 { font-size: 3.8rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h4 { font-size: 2.8rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h5 { font-size: 3rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h6 { font-size: 2.6rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  p { font-size: 1.4rem; }
}

/* laptop - desktop */
@media (min-width: 1024px) {
  h1 { font-size: 5rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h2 { font-size: 4.6rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h3 { font-size: 4.2rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h4 { font-size: 3.8rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h5 { font-size: 3.4rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  h6 { font-size: 3rem; color: $ivory; text-shadow: 1px 1px 3px $charcoal; }
  p{ font-size: 1.5rem; }
}


