/*===========================================*/
/*==========  Mobile First Method  ==========*/
/*===========================================*/

/* ---------- STRUCTURE ---------- */


section {
  div#register {
    @extend %borderbox;
    @extend %flexbox;
    flex-direction: column;
    -webkit-align-items: center;
    h1 {
      text-align: center;
      display: block;
    }
    form{
      @extend %borderbox;
      @extend %flexbox;
      display: block;
      width: 100%;
      padding-left: 10%;
      input{
        width: 80%;
        &[type=submit]{
          @extend %submit;
        }
        &.short1{
          width: 10%;
          min-width: 6rem;
        }
        &.short2{
          width: 20%;
          min-width: 10rem;
        }
      }
    }
  }
}


/*==============================================*/
/*========  Semi-Small devices, tablets  =======*/
/*==============================================*/

@media only screen and (min-width : 780px) {
  section div#register form{
    width: 70%;
  }
}
