//Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
%prim-font-light{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
%prim-font{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
%prim-font-bold{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}
